$text-color: #000;

.app-component-wrapper {
    width: 500px;
    margin: 20px auto;
}

.catalog-item-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.catalog-image-part {
    $s: 150px;
    width: $s;
    height: $s;
    display: flex;
    overflow: hidden;
    color: $text-color;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.catalog-content-part {
    padding: 0 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    a {
        text-decoration: none;
        color: $text-color;
        &:hover {
            text-decoration: underline;
        }
    }
}

.load-more-btn {
    $hover-color: #07830a;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    transition: all .1s;
    &:hover {
        border-color: $hover-color;
        color: $hover-color;
    }
}